<p id="notice"><%= notice %></p>

<h1>[상단 네브바]</h1>

  <div class="grid">
    <div class="grid-box a">프로필 사진</div>
    <div class="grid-box b">자기소개</div>
    <div class="grid-box c">팔로우</div>
    <div class="grid-box d">설정</div>
    <div class="grid-box e">하는 게임</div>
  </div>
  
<h1>[JQuery Tab Here 제이쿼리 탭 넣는 자리]</h1>

  <div class="box-container">
    <% @profiles.each do |profile| %>
      <!-- For Tablet, Desktop Layout -->
        <div class="hidden-xs">
            <div class="col-md-4 col-sm-6">
                <div class="box">
                  <img class="image" src="<%= profile.picture %>">
                      <div class="padding">
                        <div class="buttons">
                          <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), profile %>
                          <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_profile_path(profile) %>
                          <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                        </div>
                        
                        <div class="hit">
                          게임 이름
                        </div>
                        <%= profile.description %>
                      </div>
                </div>
            </div>
        </div>
        
      <!-- For Mobile -->
        <div class="visible-xs">
            <div class="box box-mobile">
              <img class="image" src="<%= profile.picture %>">
                  <div class="padding">
                      <div class="buttons">
                        <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), profile %>
                        <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_profile_path(profile) %>
                        <%= link_to raw('<span class="glyphicon glyphicon-trash"></span>'), profile, method: :delete, data: { confirm: 'Are you sure?' } %>
                      </div>
                      
                      <div class="hit">
                        게임 이름
                      </div>
                      <%= profile.description %>
                  </div>  
            </div>
        </div>      
        
  </div>
  
  <% end %>

<br>

<%= link_to 'New Profile', new_profile_path %>



<style>
    body {
      background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>