<h1>게시물 수정 페이지</h1>

<%= form_for(@board, url: board_path(@board.id) , method: 'patch') do |f| %>

    <%= f.label :title, "글 제목" %>
    <%= f.text_field :title %><br>

    
    <%= f.label :content, "글 내용", rows: "3" %>
    <%= f.text_area :content %><br>
    
    <%= f.label :image_url, "이미지 첨부" %><br><br>
    <%= f.file_field :image_url %><br><br>
    
    <%= f.submit "제출" %>
    
<% end %>