<h1>게시물 입력 페이지</h1>

<%= form_for(Board.new, url: create_board_path, method: 'post') do |f| %>

    <%= f.label :title, "글 제목" %>
    <%= f.text_field :title, placeholder: "hello world" %><br>
    
    <%= f.label :content, "글 내용", rows: "3" %>
    <%= f.text_area :content %><br>
    
    <%= f.submit "제출" %>
    
<% end %>