<h1>게시물 입력 페이지</h1>
<!-- form_for(Board.new , ) => form_for(@board ,) -->
<%= form_for(@board, url: create_board_path, method: 'post') do |f| %>

    <%= f.label :title, "글 제목" %>
    <%= f.text_field :title, placeholder: "hello world" %><br>
    
    <%= f.label :content, "글 내용"%>
    <%= f.text_area :content %><br>
    
<!--image upload-->
    
    <%= f.label :image_url, "이미지 첨부" %><br><br>
    <%= f.file_field :image_url %>
    
  <!-- Hashtag 입력창 넣기! -->
  <ul>
    <%= f.fields_for :hashtags do |h|%>
      <li>
        <%= h.label :title, "해시태그" %>
        <%= h.text_field :title %>
      </li>
    <% end %>
  </ul>
  
  <%= f.submit "제출" %>
    
<% end %>