<p id="notice"><%= notice %></p>

<h1>[상단 네브바]</h1>

  <div class="grid">
    <div class="grid-box a">프로필 사진</div>
    <div class="grid-box b">자기소개</div>
    <div class="grid-box c">팔로우</div>
    <div class="grid-box d">설정</div>
    <div class="grid-box e">하는 게임</div>
  </div>
  
<h1>[JQuery Tab Here 제이쿼리 탭 넣는 자리]</h1>

  <div class="box-container">
    <div class="row">
        <% @boards.each do |board| %>
            <div class="col m4 l4">
                <div class="box">
                  <img class="image" src="<%= board.picture %>">
                      <div class="padding">
                        <div class="buttons">
                            <%= link_to 'show', board %>
                          <% if user_signed_in? && current_user.id == board.user_id %>
                            <%= link_to 'edit', edit_board_path(board) %>
                            <%= link_to 'delete', board, method: :delete, data: { confirm: 'Are you sure?' } %>
                          <% end %>
                        </div>
                        
                        <div class="hit">
                          조회 <%= board.hit %>회 / 코멘트랑 좋아요 기능
                        </div>
                        <%= board.description %>
                      </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>

<br>

<%= link_to 'New board', new_board_path %>


<style>
    body {
      background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>