<div class="container">
<div class="devide_login">
  <!-- view/devise/sessions/new.html.erb-->
<!-- Main page Before Login-->

<!-- 로고 -->

<!-- 
  container, content1, content2 설정
  => app/stylesheets/posts.scss
-->
  <div class="blank_login_1"></div>

  <div class="moment_logo">
    <img src="/모멘트 로고.png" >
  </div>
  
  <div class="blank_login_2"></div>

  <!-- 로그인 화면 -->
  <div class="login_box">
    <img src="/moment_word.png" hspace="20"><br>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>

</div>

</div>
