<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  

  <!-- Hashtag 입력창 / 출력창 넣기! -->
  <ul>
    <%= f.fields_for :hashtags do |h|%>
    <li>
      <%= h.label :title, "해시태그" %>
      <%= h.text_field :title %>
    </li>
    <%end%>
  </ul>

  <div class="actions">
    <%= f.submit "작성"%>
  </div>
<% end %>
