<html>
  
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>
<!-- nav -->
    <script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    </script>
<nav role="navigation">
     
  <div class="container">
    
      <!-- toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- 사이트소개 페이지 -->
          <li>
            <%=link_to "Moment", "/posts/intro" %>
          </li>
          <!-- 로그인/아웃 -->
          <li>
            <% if user_signed_in?%>
              <%= link_to "LogOut", destroy_user_session_path, method: :delete%>
            <% else %>
              <%= link_to "LogIn", new_user_session_path%>
            <% end%>
          </li>
          <!-- 마이페이지 -->
          <li>
            <%= link_to "마이페이지", mypage_path(current_user.id) %>
          </li>
          <!-- 친구목록 -->
          <li>
            <%= link_to "친구목록", "#"%>
          </li>
    
        </ul>
      </div> <!-- collapse -->
      
  </div> <!-- container -->
</nav>  

 <!-- Post List Table -->
  <div class="container">  
    <div class="sign_inform">
    <p><% if user_signed_in?%>
                <%= current_user.name %>님 환영합니다<br>
    <%end%></p>
    <p id="notice"><%= notice %></p>
     <button><%= link_to '글 올리기', new_post_path %></button>
    </div>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th colspan="3"></th>
          </tr>
        </thead>
  
        <% @posts.each do |post| %>
        <tbody>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.content %></td>
              <td><%= link_to 'Show', post %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        </tbody>
         <% end %>
      </table>
  </div> <!--Contaner ;  Post List table -->

  <br>
</body>

  
<footer>
</footer>


</html>

<style>
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>