<html>
  
<head>

</head>
<body>
<!-- nav -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
     
  <div class="container">
    
      <!-- toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <!-- 사이트소개 페이지 -->
          <li>
            <%=link_to "Moment", "/posts/intro" %>
          </li>
          <!-- 로그인/아웃 -->
          <li>
            <% if user_signed_in?%>
              <%= link_to "LogOut", destroy_user_session_path, method: :delete%>
            <% else %>
              <%= link_to "LogIn", new_user_session_path%>
            <% end%>
          </li>
          <!-- 마이페이지 -->
          <li>
            <%= link_to "마이페이지", "/profiles/index"%>
          </li>
          <!-- 친구목록 -->
          <li>
            <%= link_to "친구목록", "#"%>
          </li>
    
        </ul>
      </div> <!-- collapse -->
      
  </div> <!-- container -->
</nav>  

 <!-- Post List Table -->
  <div class="container">  
    <div class="sign_inform">
    <p><% if user_signed_in?%>
                <%= current_user.name %>님 환영합니다<br>
    <%end%></p>
    <p id="notice"><%= notice %></p>
     <button><%= link_to '글 올리기', new_post_path %></button>
    </div>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Content</th>
            <th colspan="3"></th>
          </tr>
        </thead>
  
        <% @posts.each do |post| %>
        <tbody>
            <tr>
              <td><%= post.title %></td>
              <td><%= post.content %></td>
              <td><%= link_to 'Show', post %></td>
              <td><%= link_to 'Edit', edit_post_path(post) %></td>
              <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        </tbody>
         <% end %>
      </table>
  </div> <!--Contaner ;  Post List table -->

  <br>




</html>

</body>