    <!--div class = "intro">
<!-- model:profile 안에 image를 넣어야함
    <!--%= image_tag(@profile.image_url) %>
    <!-- %= @profile.introduction %>
    <!-- 하는 게임-->
    <!-- 팔로우-->
    <!-- 설정-->
    <!-- %= link_to "설정", "/profiles/edit2"%>
    
</div>-->

<h1>[상단 네브바]</h1>

  <div class="grid">
    <div class="grid-box a">프로필 사진</div>
    <div class="grid-box b">자기소개</div>
    <div class="grid-box c">팔로우</div>
    <div class="grid-box d">설정</div>
    <div class="grid-box e">하는 게임</div>
  </div>
  
<h2>[JQuery Tab Here 제이쿼리 탭 넣는 자리]</h2>

<% if current_user.id != @pro.user_id %>
	<a href="/profile/mypage/<%= @pro.user_id %>">프로필 메인</a>
	<a href="/profile/<%= @pro.user_id %>/album">전체 게시물</a>
	<a href="/profile/<%= @pro.user_id %>/saved">즐겨찾기</a>
  <a href="/profile/<%= @pro.user_id %>/tagged">태그됨</a>
<% else %>
	<a href="/profile/mypage/<%= current_user.id %>">프로필 메인</a>
	<a href="/profile/<%= current_user.id %>/album">전체 게시물</a>
	<a href="/profile/<%= current_user.id %>/saved">즐겨찾기</a>
  <a href="/profile/<%= current_user.id %>/tagged">태그됨</a>
  <a href="/board/<%= @pro.id %>/new">글쓰기</a>
<% end %>

<h3><%= @temp %>번 사진첩의 게시물</h3>

<div class="box-container">
    <div class="row">
        <% @board.each do |board| %>
            <div class="col m4 l4">
                <div class="box">
                <!--img class="image" src="<!%= board.picture %>">-->
                    <div class="padding">
                        <div class="buttons">
                            <a href="/board/<%= board.id %>">보기</a>
                            <% if user_signed_in? && current_user.id == @pro.user_id %>
                            <a href="/board/edit/<%= board.id %>">수정</a>
                            <%= link_to 'delete', board, method: :delete, data: { confirm: 'Are you sure?' } %>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

<a href="/">홈으로</a>

<!-- CSS -->

 <style>
    body {
      background-color: #FAFAFA;
    }
    
    a:hover {
      background: none;
    }
    
    .box-container {
      text-align: center;
    }
    
    .box {
      display: inline-block;
      background-color: white;
      border-radius: 3px;
      border-color: #E6E6E6;
      border-style: solid;
      border-width: 1px;
      text-align: left;
      margin-bottom: 30px;
    }
    
    .box-mobile {
      border: none;
      margin-bottom: 0;
    }
    
    .box .buttons{
      font-size: 2em;
    }

    .box .buttons .glyphicon{
      color: black;
      margin-right: 0.3em;
    }
    
    .box .padding {
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-bottom: 1.5em;
    }
    
    .box .image {
      margin-top: 5em;
      width: 100%;
      margin-bottom: 1em;
    }
    
    .box .hit {
      font-weight: bold;
      margin-bottom: 0.5em;
    }



    .grid {
      display: grid;
      grid-template: 1fr 1fr / 2fr 6fr 1fr 1fr;
    }
    
    .grid .grid-box {
      background-color: #FAFAFA;
      color: black;
      border-radius: 5px;
      border: 2px dodgerblue solid;
      grid-gap: 10px;
    }
    
    .grid .a {
      grid-row-start: 1;
      grid-row-end: 3;
    }
    
    .grid .b {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .c {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .d {
      grid-row-start: 1;
      grid-row-end: 2;
    }
    
    .grid .e {
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 5;
    }
</style>